/*====================================== fonts ======================================*/
/*paragraphs*/
@font-face {
    font-family: Montserrat;
    src: url("../Fonts/Montserrat-Regular.ttf") format("truetype");
}
/*titels*/
@font-face {
    font-family: NunitoSans;
    src: url("../Fonts/NunitoSans-Bold.ttf") format("truetype");
}